Suicide in the US
Suicide is death caused by injuring oneself with the intent to die. A suicide attempt is when someone harms themselves with any intent to end their life, but they do not die as a result of their actions.
Many factors can increase the risk for suicide or protect against it. Suicide is connected to other forms of injury and violence. For example, people who have experienced violence, including child abuse, bullying, or sexual violence have a higher suicide risk. Being connected to family and community support and having easy access to health care can decrease suicidal thoughts and behaviors.
Suicide rates increased 33% between 1999 and 2019. Suicide is the 10th leading cause of death in the United States. It was responsible for more than 47,500 deaths in 2019, which is about one death every 11 minutes. The number of people who think about or attempt suicide is even higher. In 2019, 12 million American adults seriously thought about suicide, 3.5 million planned a suicide attempt, and 1.4 million attempted suicide.

This study is focused on analyzing the file provided to get insights on suicide incidents involving guns between the year 2012 and 2014 in USA and find out any trends or linkage between factors like race, gender, education or age. It considers the factors affecting the incidents and attempts to answer the following questions:

• Does age play a role in occurrence of suicides?

• Is one gender more prone to suicide than the other one?

• Is any combination of factors indicative of more suicides than other?

Using the answers to those questions (and to other you may create), write actionable recommendations for suicide support people.
The data for this study can be found at the following URL: https://github.com/fivethirtyeight/guns-data/blob/master/full_data.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
gundata = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/gundata/gundata.csv')

In [3]:
gundata.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
gundata.head()

   year  month   intent  ...  hispanic            place     education
0  2012      1  Suicide  ...       100             Home           BA+
1  2012      1  Suicide  ...       100           Street  Some college
2  2012      1  Suicide  ...       100  Other specified           BA+
3  2012      2  Suicide  ...       100             Home           BA+
4  2012      2  Suicide  ...       100  Other specified        HS/GED

[5 rows x 10 columns]